doc-test-1/source/jupyterlab/.ipynb_checkpoints
doc-test-1/build
doc-test-2/build
doc-test-2/source/jupyterlab/.ipynb_checkpoints
doc-test-3/build
doc-test-3/source/jupyterlab/.ipynb_checkpoints
doc-test-4/newbook/_build
